@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="content px-1">
            @Body
        </div>
    </main>
</div>


<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
